@charset "utf-8";
body
{
    font-weight:normal;
    font-size:17px;
    font-family:"Heiti SC";
    color:#5588AA;
    margin-left:10px;
    margin-right:10px;
    text-align:justify;
/*    background:#ffffff*/
}

p
{
    display:block;
    color:#ffffff;
}

table
{
    border-collapse:collapse;
    border-spacing:0;
    width:100%
}

table th,table td
{
    border:1px #cccccc
    solid;font-weight:normal;
    font-size:13px;
    line-height:20px;
    font-family:"Heiti SC";
    color:#555555;
    padding:5px 3px;
}

a
{
    color:#328fde;
    text-decoration:none;
}

img
{
    max-width:100%;
    margin:10px auto:
}
